/* 盒模型預設 */
*,*:before*:after{
	box-sizing: border-box;
}

/* 消除圖片空隙 、圖片自適應父層*/
img{
	vertical-align:middle;
	max-width:100%;
	height:auto;
}
// a連結預設
a{
	text-decoration: none;
	display: block;
}
// 字體設定
.fz-1{
    font-size: $spacer*0.875;
}
.fz-2{
    font-size: $spacer;
}
.fz-3{
    font-size: $spacer*1.25;
}
.fz-4{
    font-size: $spacer*1.5;
}
.fz-5{
    font-size: $spacer*2.25;
}
.fz-6{
    font-size: $spacer*3;
}
.fz-7{
    font-size: $spacer*4;
}
.fz-8{
    font-size: $spacer*4.5;
}
//間距設定
.mb-1{
	margin-bottom: $spacer*0.5;
}
.mb-2{
	margin-bottom: $spacer;
}
.mb-3{
	margin-bottom: $spacer*1.5;
}
.mb-4{
	margin-bottom: $spacer*2;
}
.mb-5{
	margin-bottom: $spacer*2.5;
}
.mb-6{
	margin-bottom: $spacer*3;
}

.mr-1{
	margin-right: $spacer*0.5;
}
.mr-2{
	margin-right: $spacer;
}
.mr-3{
	margin-right: $spacer*1.5;
}
.mr-4{
	margin-right: $spacer*2;
}
.mr-5{
	margin-right: $spacer*2.5;
}
.mr-6{
	margin-right: $spacer*3;
}

.ml-1{
	margin-left: $spacer*0.5;
}
.ml-2{
	margin-left: $spacer;
}
.ml-3{
	margin-left: $spacer*1.5;
}
.ml-4{
	margin-left: $spacer*2;
}
.ml-5{
	margin-left: $spacer*2.5;
}
.ml-6{
	margin-left: $spacer*3;
}

//文字粗體
.font-bold{
	font-weight: bold;
}
//全域設定
body{
    font-family: 'Noto Sans', Roboto, "Helvetica Neue", Arial, sans-serif;;
    margin: 0 auto;
	line-height: 1.5;
}


a{
	color: #000;
}

