.subTitle{
    color: $mainColorDark;
    text-align: center;
    padding-top: 60px;
}
//通用設定
.font-white{
    color: #FFF;
}
.font-red{
    color: $mainColorLight;
}

//banner
.banner{
    height: 840px;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .container{
        width: 100%;
    }
    h2,h3{
        display: block;
        text-align: right;
        color: $mainColorDark;
    }
}
//品牌四大特色
.brand{
    padding-bottom: 80px;
    background-color: #AA06010D;
}
.brand-feature{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    li{
        width: 255px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img{
        text-align: center;
        width: 84px;
        height: auto;
    }
    h6{
        color: $mainColorDark;
        text-align: center;
    }
}
// 經典系列鏡框
.classic-item{
    margin-bottom: 80px;
    li a{
        display: flex;
        color: #AA0601;
        font-style: italic;
        align-items: center;
        img{
            margin-right: 32px;
            width: 57%;
            height: auto;
        }
        .classic-item-content{
            display: flex;
            align-items: center;
            margin-right: 30px;
            img{
                margin-right: 10px;
                max-width: 44px;
                height: auto;
            }
            
        }
    }
    .row-reverse{
        a{
            flex-direction: row-reverse;
        }
        
    }
}
//聯名系列
.co-brand{
    background-image: url(../images/bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 80px;
    .content{
        display: flex;
        justify-content: space-between;
        width: 100%;
        .item{
            width: 48%;
        }
        .co-brand-item1{
            background-image: url(../images/product-8.png);
            background-position: center;
            background-size: cover;
        }
        .co-brand-item2{
            background-image: url(../images/product-9.png);
            background-position: center;
            background-size: cover;
        }
        .white-mask{
            background-color: rgba(255, 255, 255, 0.5);
            width: 100%;
            height: auto;
            padding: 180px 0;
            display: flex;
            justify-content: center;
        }
    }
    .co-brand-content{
        color:$mainColorLight;
    }
}
//顧客推薦
.recommend{
    padding-bottom: 80px;
    .recommend-card{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .recommend-card-item{
        width:23%;
        border-radius: 4px;
        border: 1px solid #DEE2E6;
        box-shadow: 0px 2px 6px #00000029;
        img{
            border-radius: 4px 4px 0 0;
        }
    }
    .recommend-card-content{
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .recommend-card-info{
        margin-bottom: 52px;
    }
    .date{
        color: #707070;
    }
}
//聯絡我們
.contactUs{
    background-color: #AA06010D;
    padding-bottom: 80px;
    .contactUs-form{
        width: 66%;
        margin: 0 auto;
    }
    .contactUs-form-content{
        margin-bottom: 20px;
    }
    .contactUs-form-group{
        input, textarea{
            width: 100%;
            height: 50px;
            background-color: transparent ;
            &::placeholder{
                opacity:0.2;
                padding-left: 16px;
            }
        }
        .box-height-lg{
            height:136px;
            padding-top: 10px;
        }
    }
    .contactUs-form-agree{
        display: flex;
        align-items: center;
    }
    .btn-confirm{
        margin: 0 auto;
        width: 30%;
        background-color: $mainColorLight;
        text-align: center;
        padding: 16px 0;
        color:#fff;
        &:hover{
            background-color:#AA06010D;
            outline: 1px solid $mainColorLight;
            color: $mainColorLight;
        }
    }
}  



//pad版本
@include pad {
    .subTitle{
        padding-top: 40px;
        font-size: 32px;
    }
    //banner
    .banner{
        h2{
            font-size: 48px;
        }
        h4{
            font-size: 20px;
        }
    }
    //品牌四大特色
    .brand{
        padding: 0 38px;
        li{
            margin-bottom: 56px;
        }
    }
    // 經典系列鏡框
    .classic{
        margin-bottom: 56px;
        h3{
            font-size: 28px;
            margin-bottom: 32px;
        }
        .classic-item{
            li{
                margin-bottom: 8px;
            }
            img{
                max-width: 390px;
                height: auto;
            }
            .classic-item-content{
                img{
                    max-width: 40px;
                    height: auto;
                }
                .classic-item-title{
                    font-size: 28px;
                }
            }
        }
        .row-reverse a{
            flex-direction: row;
        }
    }
    // 聯名系列
    .co-brand{
        padding-bottom: 56px;
        .subTitle{
            margin-bottom: 32px;
        }
        .content{
            .white-mask{
                padding: 117.5px 0;
            }
            p{
                font-size: 32px;
            }
        }
    }
    //顧客推薦
    .recommend{
        .subTitle{
            margin-bottom: 32px;
        }
        padding-bottom: 24px;
        .recommend-card-item{
            width:48%;
            margin-bottom: 32px;
        }
    }
    //聯絡我們
    .contactUs{
        padding-bottom: 56px;
        .subTitle{
            margin-bottom: 32px;
        }
        .contactUs-form{
            font-size: 14px;
        }
        .contactUs-form-content{
            margin-bottom: 16px;
        }
        .contactUs-form-group{
            margin-bottom: 8px;
            input{
                height: 36px;
            }
            .box-height-lg{
                height:100px;
            }
        }
        .btn-confirm{
            padding: 10px 0;
            font-size: 14px;
        }
    }  
}
//手機版本
@include mobile {
    .subTitle{
        font-size: 24px;
        padding-top: 32px;
    }
    //banner
    .banner{
        height: 394px;
        h4{
            font-size: 16px;
        }
        h2{
            font-size: 32px;
        }
    }
    // 經典系列鏡框
    .classic{
        margin-bottom: 40px;
        .classic-item{
            position: relative;
            img{
                width: 100%;
                height:auto;
            }
        }
        .classic-item-content{
            position: absolute;
            left: 20%;
        }
    }
    // 聯名系列
    .co-brand{
        padding-bottom: 24px;
        .content{
            flex-direction: column;
            .item{
                width: 100%;
            }
            .co-brand-item1, .co-brand-item2{
                width: 100%;
                margin-bottom: 16px;
            }
            .white-mask{
                padding: 124px 0;
            }
        }
    }
    //顧客推薦
    .recommend{
        .recommend-card-item{
            width:100%;
            margin-bottom: 16px;
        }
    } 
    //聯絡我們
    .contactUs{
        padding-bottom: 56px;
        .subTitle{
            margin-bottom: 20px;
        }
        .contactUs-form{
            width: 100%;
        }
        .contactUs-form-content{
            margin-bottom: 8px;
        }
        .contactUs-form-group{
            margin-bottom: 8px;
        }
        .btn-confirm{
            padding: 8px 0;
            width:44%;
        }
    }   
}