//平板
@mixin pad {
    @media (max-width:768px){
        @content
    };
};

//手機
@mixin mobile{
    @media (max-width:376px){
        @content
    };
};

//container
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
@include pad {
    .container{
        max-width: 720px;
    }
}
@include mobile {
    .container{
        max-width: 374.5px;
    }
}