@charset "UTF-8";
/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquotse, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 盒模型預設 */
*, *:before*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* 消除圖片空隙 、圖片自適應父層*/
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  display: block; }

.fz-1 {
  font-size: 14px;
  line-height: 1.5; }

.fz-2 {
  font-size: 16px;
  line-height: 1.5; }

.fz-3 {
  font-size: 20px;
  line-height: 1.5; }

.fz-4 {
  font-size: 24px;
  line-height: 1.5; }

.fz-5 {
  font-size: 36px;
  line-height: 1.5; }

.fz-6 {
  font-size: 48px;
  line-height: 1.5; }

.fz-7 {
  font-size: 64px;
  line-height: 1.5; }

.fz-8 {
  font-size: 72px;
  line-height: 1.5; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-5 {
  margin-bottom: 40px; }

.mb-6 {
  margin-bottom: 48px; }

.mr-1 {
  margin-right: 8px; }

.mr-2 {
  margin-right: 16px; }

.mr-3 {
  margin-right: 24px; }

.mr-4 {
  margin-right: 32px; }

.mr-5 {
  margin-right: 40px; }

.mr-6 {
  margin-right: 48px; }

.font-bold {
  font-weight: bold; }

body {
  font-family: 'Noto Sans TC', sans-serif, italic;
  margin: 0 auto; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }

@media (max-width: 768px) {
  .container {
    max-width: 720px; } }

@media (max-width: 376px) {
  .container {
    max-width: 374.5px; } }

a {
  color: #000; }

.header {
  background-color: #AA0601;
  padding: 30px 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header a {
    color: #fff; }
  .header .logo a {
    width: 80px;
    height: auto; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header .menu li {
      padding-left: 64px; }
      .header .menu li a {
        border-bottom: 1px solid transparent; }
        .header .menu li a:hover {
          border-bottom: 1px solid #fff; }

.footer {
  padding: 32px 0;
  background: #AA0601; }
  .footer a, .footer p {
    color: #FFF; }

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #fff; }

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-menu a {
    border-bottom: 1px solid transparent; }
    .footer-menu a:hover {
      border-bottom: 1px solid #fff; }

.footer-contact li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid transparent; }
  .footer-contact li a:hover {
    border-bottom: 1px solid #fff; }
  .footer-contact li a img {
    width: 36px;
    height: auto; }

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social-media img:hover {
    -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2); }

.footer-subcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px; }

.provision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .provision a:hover {
    border-bottom: 1px solid #fff; }

@media (max-width: 768px) {
  .container {
    max-width: 720px; }
  .header {
    padding: 30px 39px; }
    .header .menu li {
      padding-left: 40px; }
  .footer-contact p {
    font-size: 20px;
    line-height: 1.5; }
  .footer-contact li {
    margin-bottom: 20px; }
    .footer-contact li a img {
      width: 20px;
      height: auto; }
  .footer-contact .phoneNumber {
    margin-bottom: 12px; }
  .social-media li {
    margin-right: 0;
    margin-left: 24px; }
  .social-media img {
    width: 24px; }
  .footer-menu {
    margin-right: 40px;
    margin-bottom: 18px; } }

@media (max-width: 376px) {
  .container {
    max-width: 374.5px; }
  .header {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .header .logo a {
      margin: 10px 0;
      width: 48px;
      height: auto; }
    .header .menu {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%; }
      .header .menu li {
        width: 50%;
        padding: 0; }
        .header .menu li a {
          padding: 8px 0;
          border: 1px solid #fff;
          margin: 0px -1px -1px 0px;
          text-align: center; }
          .header .menu li a:hover {
            background: palevioletred; }
  .footer-menu {
    display: none; }
  .footer-contact p {
    font-size: 16px;
    line-height: 1.5; }
  .footer-contact li {
    margin-bottom: 20px; }
    .footer-contact li a img {
      width: 16px;
      height: auto;
      margin-right: 8px; }
  .footer-contact .phoneNumber {
    margin-bottom: 12px; }
  .footer-subcontent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 16px 0 0 0; }
  .copyright {
    margin-bottom: 8px; }
  .provision {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .provision li {
      margin-bottom: 8px; } }

.subTitle {
  color: #650300;
  text-align: center;
  padding-top: 60px; }

.font-white {
  color: #FFF; }

.font-red {
  color: #AA0601; }

.banner {
  height: 840px;
  background-image: url(../images/banner.png);
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .banner .container {
    width: 100%; }
  .banner h2, .banner h4 {
    display: block;
    text-align: right;
    color: #650300; }

.brand {
  padding-bottom: 80px;
  background-color: #AA06010D; }

.brand-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .brand-feature li {
    width: 255px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .brand-feature img {
    text-align: center;
    width: 84px;
    height: auto; }
  .brand-feature h6 {
    color: #650300;
    text-align: center; }

.classic-item {
  margin-bottom: 80px; }
  .classic-item li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #AA0601;
    font-style: italic;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .classic-item li a img {
      margin-right: 32px;
      max-width: 635px;
      height: auto; }
    .classic-item li a .classic-item-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 30px; }
      .classic-item li a .classic-item-content img {
        margin-right: 10px;
        max-width: 44px;
        height: auto; }
  .classic-item .row-reverse a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }

.co-brand {
  background-image: url(../images/bg.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 80px; }
  .co-brand .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    .co-brand .content .co-brand-item1 {
      background-image: url(../images/product-8.png);
      background-position: center;
      background-size: cover;
      width: 48%; }
    .co-brand .content .co-brand-item2 {
      background-image: url(../images/product-9.png);
      background-position: center;
      background-size: cover;
      width: 48%; }
    .co-brand .content .white-mask {
      background-color: rgba(255, 255, 255, 0.5);
      width: 100%;
      height: auto;
      padding: 180px 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .co-brand .co-brand-content {
    color: #AA0601; }

.recommend {
  padding-bottom: 80px; }
  .recommend .recommend-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .recommend .recommend-card-item {
    width: 23%;
    border-radius: 4px;
    border: 1px solid #DEE2E6;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029; }
    .recommend .recommend-card-item img {
      border-radius: 4px 4px 0 0;
      width: 100%; }
  .recommend .recommend-card-content {
    padding: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .recommend .recommend-card-info {
    margin-bottom: 52px; }
  .recommend .date {
    color: #707070; }

.contactUs {
  background-color: #AA06010D;
  padding-bottom: 80px; }
  .contactUs .contactUs-form {
    width: 66%;
    margin: 0 auto; }
  .contactUs .contactUs-form-content {
    margin-bottom: 20px; }
  .contactUs .contactUs-form-group input {
    width: 100%;
    height: 50px;
    background-color: #AA06010D; }
    .contactUs .contactUs-form-group input::-webkit-input-placeholder {
      opacity: 0.2;
      padding-left: 16px; }
    .contactUs .contactUs-form-group input::-moz-placeholder {
      opacity: 0.2;
      padding-left: 16px; }
    .contactUs .contactUs-form-group input:-ms-input-placeholder {
      opacity: 0.2;
      padding-left: 16px; }
    .contactUs .contactUs-form-group input::-ms-input-placeholder {
      opacity: 0.2;
      padding-left: 16px; }
    .contactUs .contactUs-form-group input::placeholder {
      opacity: 0.2;
      padding-left: 16px; }
  .contactUs .contactUs-form-group .box-height-lg {
    height: 136px; }
  .contactUs .contactUs-form-agree {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .contactUs .btn-confirm {
    margin: 0 auto;
    width: 30%;
    background-color: #AA0601;
    text-align: center;
    padding: 16px 0;
    color: #fff; }
    .contactUs .btn-confirm:hover {
      background-color: #AA06010D;
      outline: 1px solid #AA0601;
      color: #AA0601; }

@media (max-width: 768px) {
  .subTitle {
    padding-top: 40px;
    font-size: 32px; }
  .banner h2 {
    font-size: 48px;
    line-height: 1.5; }
  .banner h4 {
    font-size: 20px;
    line-height: 1.5; }
  .brand {
    padding: 0 38px; }
    .brand li {
      margin-bottom: 56px; }
  .classic {
    margin-bottom: 56px; }
    .classic h3 {
      font-size: 28px;
      line-height: 1.5;
      margin-bottom: 32px; }
    .classic .classic-item li {
      margin-bottom: 8px; }
    .classic .classic-item img {
      max-width: 390px;
      height: auto; }
    .classic .classic-item .classic-item-content img {
      max-width: 40px;
      height: auto; }
    .classic .classic-item .classic-item-content .classic-item-title {
      font-size: 28px; }
    .classic .row-reverse a {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
  .co-brand {
    padding-bottom: 56px; }
    .co-brand .subTitle {
      margin-bottom: 32px; }
    .co-brand .content .white-mask {
      padding: 117.5px 0; }
    .co-brand .content p {
      font-size: 32px;
      line-height: 1.5; }
  .recommend {
    padding-bottom: 24px; }
    .recommend .subTitle {
      margin-bottom: 32px; }
    .recommend .recommend-card-item {
      width: 48%;
      margin-bottom: 32px; }
  .contactUs {
    padding-bottom: 56px; }
    .contactUs .subTitle {
      margin-bottom: 32px; }
    .contactUs .contactUs-form {
      font-size: 14px; }
    .contactUs .contactUs-form-content {
      margin-bottom: 16px; }
    .contactUs .contactUs-form-group {
      margin-bottom: 8px; }
      .contactUs .contactUs-form-group input {
        height: 36px; }
      .contactUs .contactUs-form-group .box-height-lg {
        height: 100px; }
    .contactUs .btn-confirm {
      padding: 10px 0;
      font-size: 14px; } }

@media (max-width: 376px) {
  .subTitle {
    font-size: 24px;
    padding-top: 32px; }
  .banner {
    height: 394px; }
    .banner h4 {
      font-size: 16px; }
    .banner h2 {
      font-size: 32px; }
  .classic {
    margin-bottom: 40px; }
    .classic .classic-item {
      position: relative; }
      .classic .classic-item img {
        max-width: 345px;
        height: auto; }
    .classic .classic-item-content {
      position: absolute;
      left: 20%; }
  .co-brand {
    padding-bottom: 24px; }
    .co-brand .content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .co-brand .content .co-brand-item1, .co-brand .content .co-brand-item2 {
        width: 100%;
        margin-bottom: 16px; }
      .co-brand .content .white-mask {
        padding: 124px 0; }
  .recommend .recommend-card-item {
    width: 100%;
    margin-bottom: 16px; }
  .contactUs {
    padding-bottom: 56px; }
    .contactUs .subTitle {
      margin-bottom: 20px; }
    .contactUs .contactUs-form {
      width: 100%; }
    .contactUs .contactUs-form-content {
      margin-bottom: 8px; }
    .contactUs .contactUs-form-group {
      margin-bottom: 8px; }
    .contactUs .btn-confirm {
      padding: 8px 0;
      width: 44%; } }

.product_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product_nav li {
    width: 33%;
    font-size: 32px;
    line-height: 1.5;
    border: 1px solid #DCDCDC;
    margin-right: -1px;
    border-bottom: 8px solid transparent; }
    .product_nav li:hover {
      border-bottom: 8px solid #AA0601; }
    .product_nav li a {
      padding: 32px 0px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #000; }
      .product_nav li a img {
        max-width: 44px;
        height: auto; }
  .product_nav .this_page {
    border-bottom: 8px solid #AA0601; }

.product_optical_banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 304px; }
  .product_optical_banner img {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover; }

.product {
  padding-top: 80px;
  padding-bottom: 160px; }

.product_title {
  text-align: center;
  font-size: 42px;
  line-height: 1.5; }
  .product_title span {
    font-size: 32px; }

.product_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .product_item .product_item_card {
    width: 23%;
    margin-bottom: 104px; }
    .product_item .product_item_card img {
      width: 100%;
      height: 164px;
      -o-object-fit: cover;
         object-fit: cover; }
  .product_item .product_item_card_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .product_item .product_item_card_color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .product_item .product_item_card_color div {
      width: 24px;
      height: 24px;
      border-radius: 4px; }
    .product_item .product_item_card_color .color_brown {
      background-color: #5F3E2D; }
    .product_item .product_item_card_color .color_orange {
      background-color: #B75929; }

.product_item_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .product_item_page li a {
    padding: 12px;
    border: 1px solid #555555;
    margin-right: -1px; }
    .product_item_page li a:hover {
      background-color: #000;
      color: #fff; }
  .product_item_page .page_down {
    background-color: #F2F2F2; }

.product_sunglasses_item .product_item_card {
  width: 32%; }
  .product_sunglasses_item .product_item_card img {
    height: 244px; }

@media (max-width: 768px) {
  .product_nav li {
    font-size: 24px; }
    .product_nav li a {
      padding: 16px 0; }
      .product_nav li a img {
        max-width: 30px; }
  .product {
    padding-top: 56px;
    padding-bottom: 96px; }
  .product_title {
    font-size: 32px;
    margin-bottom: 32px; }
    .product_title span {
      font-size: 24px; }
  .product_item .product_item_card {
    width: 48%;
    margin-bottom: 72px; }
  .pad_display_none {
    display: none; } }

@media (max-width: 376px) {
  .product_nav li {
    font-size: 14px;
    border-bottom: 4px solid transparent; }
    .product_nav li:hover {
      border-bottom: 4px solid #AA0601; }
    .product_nav li a {
      padding: 6px 0; }
      .product_nav li a img {
        max-width: 14px; }
  .product_optical_banner {
    height: 148px; }
  .product {
    padding-top: 32px;
    padding-bottom: 56px; }
  .product_title {
    font-size: 20px;
    margin-bottom: 20px; }
    .product_title span {
      font-size: 16px; }
  .product_item .product_item_card {
    width: 100%;
    margin-bottom: 32px; }
    .product_item .product_item_card img {
      width: 100%;
      height: 166px; }
  .product_item_card_content {
    font-size: 16px; }
  .product_item_card_color div {
    width: 16px;
    height: 16px; }
  .mobile_display_none {
    display: none; }
  .product_item_page li a {
    font-size: 17px; } }

.page_title {
  padding: 4px 16px;
  border-left: 8px solid #9F1213;
  margin-bottom: 60px; }
  @media (max-width: 768px) {
    .page_title {
      border-left: 4px solid #9F1213;
      margin-bottom: 40px; } }
  @media (max-width: 376px) {
    .page_title {
      font-size: 28px;
      padding: 0 8px;
      margin-bottom: 24px; } }

.store {
  padding-top: 96px;
  padding-bottom: 144px; }
  @media (max-width: 768px) {
    .store {
      padding-top: 60px;
      padding-bottom: 96px; } }
  @media (max-width: 376px) {
    .store {
      padding-top: 28px;
      padding-bottom: 56px; } }

.select_place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .select_place select {
    padding: 8px 251px 8px 19px;
    color: #495057;
    font-size: 18px;
    border: 1px solid #CED4DA; }

.store_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .store_item::after {
    height: 0;
    width: 32%;
    content: ""; }
  .store_item li {
    width: 32%; }
    .store_item li .store_img {
      width: 100%;
      height: 224px;
      -o-object-fit: cover;
         object-fit: cover; }
    .store_item li h2 {
      padding: 12px 24px;
      border: 1px solid #00000020; }
    .store_item li .store_content {
      border: 1px solid #00000020;
      margin-top: -1px;
      padding: 16px 24px; }
      .store_item li .store_content li {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .store_item li .store_content li img {
          margin-right: 11px;
          width: 18px;
          height: auto; }
  .store_item .store_more_btn {
    width: 100%;
    background-color: #000; }
    .store_item .store_more_btn a {
      color: #fff;
      padding: 20px 0;
      text-align: center; }
      .store_item .store_more_btn a:hover {
        background-color: #AA0601; }

.branch_store_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .branch_store_content .branch_store_item {
    width: 40%; }
    .branch_store_content .branch_store_item .store_img {
      width: 100%;
      height: 224px;
      -o-object-fit: cover;
         object-fit: cover; }
    .branch_store_content .branch_store_item h2 {
      padding: 12px 24px;
      border: 1px solid #00000020; }
    .branch_store_content .branch_store_item .store_content {
      border: 1px solid #00000020;
      margin-top: -1px;
      padding: 16px 24px; }
      .branch_store_content .branch_store_item .store_content li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .branch_store_content .branch_store_item .store_content li img {
          margin-right: 11px;
          width: 18px;
          height: auto; }
  .branch_store_content .branch_store_map {
    width: 57%; }

@media (max-width: 768px) {
  .select_place {
    margin-bottom: 24px; }
    .select_place p {
      font-size: 16px; }
    .select_place select {
      padding: 10px 173px 10px 16px;
      font-size: 16px; }
  .store_item::after {
    width: 48%; }
  .store_item li {
    width: 48%;
    margin-bottom: 20px; }
    .store_item li .store_img {
      height: 164px; }
    .store_item li h2 {
      font-size: 16px;
      padding: 8px 24px; }
    .store_item li .store_content {
      padding: 16px 24px 8px 24px; }
      .store_item li .store_content li {
        margin-bottom: 8px; }
        .store_item li .store_content li img {
          width: 15px; }
        .store_item li .store_content li h3 {
          font-size: 14px; }
  .store_item .store_more_btn a {
    padding: 16px 0; }
  .branch_store_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .branch_store_content .branch_store_item {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 32px; }
      .branch_store_content .branch_store_item .store_img {
        width: 48%;
        height: 164px; }
      .branch_store_content .branch_store_item .branch_store_item_information {
        width: 48%; }
        .branch_store_content .branch_store_item .branch_store_item_information h2 {
          font-size: 16px;
          padding: 8px 16px; }
        .branch_store_content .branch_store_item .branch_store_item_information .store_content li img {
          margin-right: 11px;
          width: 14px;
          height: auto; }
        .branch_store_content .branch_store_item .branch_store_item_information .store_content li h3 {
          font-size: 14px; }
    .branch_store_content .branch_store_map {
      width: 100%;
      height: 422px; } }

@media (max-width: 376px) {
  .select_place {
    margin-bottom: 20px; }
    .select_place p {
      font-size: 14px;
      margin-right: 12px;
      width: 20%; }
    .select_place select {
      padding: 8px 0px 8px 16px;
      font-size: 14px;
      width: 80%; }
  .store_item::after {
    width: 100%; }
  .store_item li {
    width: 100%;
    margin-bottom: 16px; }
    .store_item li .store_img {
      height: 164px; }
    .store_item li .store_content {
      padding: 16px 24px 8px 24px; }
  .branch_store_content .branch_store_item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 16px; }
    .branch_store_content .branch_store_item .store_img {
      width: 100%; }
    .branch_store_content .branch_store_item .branch_store_item_information {
      width: 100%; }
      .branch_store_content .branch_store_item .branch_store_item_information .store_content li img {
        margin-right: 8px;
        width: 20x;
        height: auto; }
  .branch_store_content .branch_store_map {
    height: 211px; } }

.faq {
  padding-top: 96px;
  padding-bottom: 128px; }
  .faq h2 {
    font-size: 32px;
    line-height: 2;
    margin-bottom: 36px; }
  .faq .faq_content .faq_answer {
    padding-left: 8%; }

@media (max-width: 768px) {
  .faq {
    padding-top: 96px;
    padding-bottom: 72px; }
    .faq h2 {
      margin-bottom: 32px; }
    .faq .faq_content {
      margin-bottom: 32px; } }

@media (max-width: 376px) {
  .faq {
    padding-top: 36px;
    padding-bottom: 36px; }
    .faq h2 {
      margin-bottom: 8px; }
    .faq .faq_content {
      margin-bottom: 20px; }
      .faq .faq_content .faq_answer {
        padding-left: 0; }
      .faq .faq_content .mobile_margin_bottom {
        margin-bottom: 21px; } }

/*# sourceMappingURL=all.css.map */
